@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Yip Application</h1>
    <p>This is an application for exclusive group's of people to add authentic reviews of restaurants</p>
</div>
