@{ ViewData["Title"] = "Landing Page"; }

<h1>Welcome @ViewBag.firstName</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Index">Reviews</a> @*link to "list of reviews" page*@

<a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Create">Create Review</a> @*link to 'create review' page*@

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a> @*link to 'login' page and will log the person out of app*@
