<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Yip Review App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 grad1">
            <div class="container">
                <a class="navbar-brand red text-lg-center" asp-area="" asp-controller="Home" asp-action="Index"> <h1><strong>Yip!</strong></h1></a>
            </div>
        </nav>
    </header>


    <div class="view">
        <div class="mask">
            <div class="container">
                <div class="row">
                        @RenderBody()
                </div>
            </div>
        </div>
    </div>
    

    <footer class="border-top footer text-muted grad2">
        <div class="container">
            &copy; 2020 - Yip! Review App
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
